<template>
<div>  
  <!-- About -->
    <div class="grid grid-cols-3 items-center gap-2 sm:gap-4 pt-16">
        <div class="col-span-full sm:col-auto px-24 sm:px-6 md:px-12 lg:px-24">
            <picture >
                <source srcset="~/assets/portrait-3.webp" type="image/webp" class="rounded-full">
                <img src="~/assets/portrait-3.jpg" alt="" role="image" class="rounded-full">
            </picture>
        </div>
      <div class="col-span-full sm:col-span-2 px-6">
        <h3 class="text-gray-400 font-normal text-center sm:text-left text-xl tracking-wide py-6 sm:pt-0">About</h3>

        <p class="text-gray-400 leading-relaxed mb-5">Photography still remains one of those passions that I enjoy. So testing out a (new to me) JAMstack gave me an exuse to dig into the photo archives and rediscover the nuggets presented on this page.         
        </p>
        <p class="text-gray-400 leading-relaxed mb-5">
         STACK: <a href="https://nuxtjs.org/" target="_blank" rel="noopener noreferrer" class="hover:text-blue-500 text-white">NuxtJS</a>, <a href="https://windicss.org/" target="_blank" rel="noopener noreferrer" class="hover:text-blue-500 text-white">Windi CSS</a>
        </p>
      </div>
    </div>
</div>
</template>
