<template>
<div class="max-w-screen-2xl m-auto">
  <div class="flex flex-col justify-center pt-14 px-6">
    <h2 class="font-normal text-gray-500 text-xl sm:text-2xl pb-6">
        Ready to <span class="text-2xl sm:text-3xl font-semibold text-black">be bold</span>. I help you develop a voice that people love to hear from.
    </h2>     
  </div>
</div>
</template>
