<template>
<footer class="mt-12 py-12 bg-dark-900">
	<div class="max-w-screen-2xl m-auto"> 
		<div class="flex flex-col sm:flex-row justify-center sm:justify-between items-center px-6">
			<div class="order-last sm:order-none">
				<p class="text-white font-normal text-center sm:text-left text-2xl leading-7 tracking-wide pt-6 sm:pt-0" >&#9863; Zero Tracking</p>				
				<p class="text-gray-400 font-normal text-center sm:text-left text-sm tracking-tagline">Your visit is safe here.</p>			
				<p class="pt-6 text-center sm:text-left">
					<a class="py-2 px-4 hover:bg-white border border-gray-400 rounded text-center text-gray-400 hover:text-black" href="mailto:ben@lilsec.com" target="_blank">
						Send &#x40;n Email
					</a>
				</p>
			</div>
			<div class="order-first sm:order-none">
				<a id="about"><LogoWhite /></a>
			</div>
		</div>
		<About />
		<div class="flex flex-col items-center">
			<p class="text-gray-400 font-normal text-sm tracking-tagline pt-20 sm:pt-32">
				© 2010-2023 Ben Schalin
			</p>			 
		</div>
	</div>
</footer>
</template>


