<template>
<div class="max-w-screen-2xl m-auto"> 
  <div class="block sm:flex justify-center sm:justify-between items-center pt-9 px-6">
    <header> 
      <h1 class="text-black font-semibold text-center sm:text-left text-3xl uppercase leading-7 tracking-wide">Ben Schalin<br>
      <span class="text-gray-500 font-normal text-sm lowercase tracking-tagline">optimist, autodidact, photographer</span>
      </h1>
    </header>
    <nav class="pt-3 sm:p-0 uppercase text-black">
      <ul class="flex justify-center">
        <!-- <li class="px-2">Home</li> -->
        <li class="px-2"><a href="#about">About</a></li>
        <li class="px-2"><a href="mailto:ben@lilsec.com">Email</a></li>
      </ul>  
    </nav>
  </div>
</div>
</template>
