<template>
<div class="max-w-screen-2xl m-auto">
  
  <!-- Commercial -->

  <div class="flex flex-col sm:flex-row justify-center sm:justify-between items-center pt-8 px-6">
    <header class="order-last sm:order-none"> 
      <h2 class="text-black font-normal text-center sm:text-left text-2xl leading-7 tracking-wide pt-6 sm:pt-0">
        <span class="text-gray-500 font-normal text-sm tracking-tagline">Commercial</span><br>
        Photography
      </h2>
    </header>
    <div class="order-first sm:order-none">
      <Logo />      
    </div>
  </div>

  <div class="grid grid-cols-2 sm:grid-cols-3 items-center gap-2 sm:gap-4 pt-8">
    <div class="pl-4 pr-4 pb-8 sm:pr-0 col-span-full sm:col-auto">
      <p>Photography as life can sometimes seem more authentic when it's not perfect. These samples are certainly "technically challenged" pushing my old Nikon D90 to its limits but it's important to remember shooting under less than ideal circumstances that tech doesn't matter much—people do. 
    </p>
    </div>
    <div class="col-auto">
      <picture>
        <source srcset="~/assets/fashion-2-ba.avif" type="image/avif">
        <img src="~/assets/fashion-2-ba.jpg" alt="" role="image">
      </picture>     
    </div>
    <div class="col-auto">
      <picture>
        <source srcset="~/assets/fashion-3.avif" type="image/avif">
        <img src="~/assets/fashion-3.jpg" alt="" role="image">
      </picture> 
    </div>   
  </div>


  <div class="grid grid-cols-3 items-center gap-2 sm:gap-4 pt-2 sm:pt-4">
    <div class="col-auto">
      <picture>
        <source srcset="~/assets/fashion-4.avif" type="image/avif">
        <img src="~/assets/fashion-4.jpg" alt="" role="image">
      </picture>       
    </div>
    <div class="col-auto">
      <picture>
        <source srcset="~/assets/fashion-1.avif" type="image/avif">
        <img src="~/assets/fashion-1.jpg" alt="" role="image">
      </picture>       
    </div>
    <div class="col-auto">
      <picture>
        <source srcset="~/assets/fashion-5.avif" type="image/avif">
        <img src="~/assets/fashion-5.jpg" alt="" role="image">
      </picture>     
    </div>
  </div>

  <div class="grid grid-cols-2 items-center gap-2 sm:gap-4 pt-2 sm:pt-4">
    <div class="col-auto">
      <picture>
        <source srcset="~/assets/fashion-8.avif" type="image/avif">
        <img src="~/assets/fashion-8.jpg" alt="" role="image">
      </picture>
    </div>
     <div class="col-auto">  
       <picture>
        <source srcset="~/assets/fashion-9.avif" type="image/avif">
        <img src="~/assets/fashion-9.jpg" alt="" role="image">
      </picture>       
    </div>
    <div class="col-auto">  
       <picture>
        <source srcset="~/assets/fashion-6.avif" type="image/avif">
        <img src="~/assets/fashion-6.jpg" alt="" role="image">
      </picture>       
    </div>
    <div class="col-auto">
        <picture>
        <source srcset="~/assets/fashion-10.avif" type="image/avif">
        <img src="~/assets/fashion-10.jpg" alt="" role="image">
      </picture> 
    </div>
  </div>


  <!-- Production Stills -->

  <div class="flex flex-col sm:flex-row justify-center sm:justify-between items-center pt-12 px-6">
    <header class="order-last sm:order-none"> 
      <h2 class="text-black font-normal text-center sm:text-left text-2xl leading-7 tracking-wide pt-6 sm:pt-0">
        <span class="text-gray-500 font-normal text-sm tracking-tagline">On-Set</span><br>
        Production Stills
      </h2>
    </header>
    <div class="order-first sm:order-none">
      <Logo />      
    </div>
  </div>

  
    <div class="grid grid-cols-3 items-center gap-2 sm:gap-4 pt-8">
      <div class="col-span-full sm:col-start-2 sm:col-span-2 sm:py-9 pr-4 pl-4 sm:pl-0 pb-8">
        <p>If you want to fast-track your skills for portraiture then invaluable lessons is offered when shooting b-roll and production stills. In seconds, you have to find what's important, capture an emotion, compose the shot, and at the same time respect the integrity of everyone you portray.
        </p>
      </div>
      <div class="col-span-full">
        <picture>
          <source srcset="~/assets/on-set-splash.avif" type="image/avif">
          <img src="~/assets/on-set-splash.jpg" alt="" role="image">
        </picture> 
      </div>
      <div>
      <picture>
        <source srcset="~/assets/on-set-1.avif" type="image/avif">
        <img src="~/assets/on-set-1.jpg" alt="" role="image">
      </picture>      
    </div>
    <div>
      <picture>
        <source srcset="~/assets/on-set-2.avif" type="image/avif">
        <img src="~/assets/on-set-2.jpg" alt="" role="image">
      </picture>      
    </div>
    <div>
      <picture>
        <source srcset="~/assets/on-set-3.avif" type="image/avif">
        <img src="~/assets/on-set-3.jpg" alt="" role="image">
      </picture>
    </div>
    <div>
      <picture>
        <source srcset="~/assets/on-set-4.avif" type="image/avif">
        <img src="~/assets/on-set-4.jpg" alt="" role="image">
      </picture>  
    </div>
    <div>
      <picture>
        <source srcset="~/assets/on-set-5.avif" type="image/avif">
        <img src="~/assets/on-set-5.jpg" alt="" role="image">
      </picture> 
    </div>
    <div>
      <picture>
        <source srcset="~/assets/on-set-6.avif" type="image/avif">
        <img src="~/assets/on-set-6.jpg" alt="" role="image">
      </picture> 
    </div>
    <div>
      <picture>
        <source srcset="~/assets/on-set-7.avif" type="image/avif">
        <img src="~/assets/on-set-7.jpg" alt="" role="image">
      </picture> 
    </div>
    <div>
      <picture>
        <source srcset="~/assets/on-set-8.avif" type="image/avif">
        <img src="~/assets/on-set-9.jpg" alt="" role="image">
      </picture> 
    </div>
    <div>
      <picture>
        <source srcset="~/assets/on-set-9.avif" type="image/avif">
        <img src="~/assets/on-set-9.jpg" alt="" role="image">
      </picture> 
    </div>
  </div>

  

</div>

</template>
